.header{
    background-color: #00013B;
    height: 5em;
    width: 1366px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}
.header h3{
    color: white;
    margin-left: 1em;
}
.nav{
    float: left;
    margin-right: 3em;
    justify-content: space-between;
}
.nav a{
    display: inline;
    margin: 1em;
    text-decoration: none;
    color: white;
}
.home{
    height: 550px;
    width: 1366px; 
}
.hero-image {
    background-image: linear-gradient(rgba(0, 1, 62, 0.7), rgba(0, 1, 62, 0.7)), url(../images/PSX_20210404_232516.jpg);
    height: 550px;
    width: 1366px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  #about{
    height: 400px;
    width: 1366px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('https://www.ccu.edu/_files/images/cags/programs/computer-information-technology-icons.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  .text-about{
      color: white;
      width: 50em;
      position: absolute;
      text-align: left;
      top: 30%;
      left: 10%;
  }
  .services{
      text-align: center;
      background-color: #99D5E1;
      height: 400px;
      width: 1366px;
  }
  .service-container{
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
  }
  .service-info{
      text-align: center;
      width: 3em;
      height: 3em;
  }
  .service-info img{
      padding: 10px 10px;
      height: 10em;
      width: 10em;
  }
  .footer{
    height: 100px;
    width: 1366px;
    background-color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
  }
  .social-media{
    float: right;
    margin-right: 3em;
    margin-top: 2em;
    justify-content: space-between;
  }
  .social-media ul li{
    display: inline;
    margin: 1em;
    text-decoration: none;
    color: white;
    top: 30%;
    left: 10%;
  }
  .social-media ul li a{
      color: white;
  }
  .footer h4{
      color: white;
      font-size: medium;
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      text-align: center;    
  }
#servicecontainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    justify-items: auto;
}
#img{
    width: 170px;
    height: 200px;
}
.row{
    padding-left: 10px;
    padding-top: 10px;
}
